<div class="d-flex flex-column align-items-center">
  <div class="col-xl text-center">
    <div *ngIf="!this.matchmakingInProgress && !this.gameReady">
      <button class="btn btn-success" (click)="connect()">Play</button>
    </div>

    <div *ngIf="this.matchmakingInProgress">
      <h3>Finding an opponent</h3>

      <div class="spinner-border text-success" role="status">
        <span class="sr-only">Loading...</span>
      </div>

      <div><button type="button" class="btn btn-primary stop-button" (click)="stopMatchmaking()">
        Stop
      </button>
    </div>
    </div>
  </div>
</div>
