<div class="container">
  <div class="row">
    <div class="col-xl text-center">
      <h1>War of Heroes - Battle</h1>
      <div *ngIf="!this.matchmakingInProgress && !this.gameReady">
        <button class="btn btn-success" (click)="connect()">Play</button>
      </div>

      <div *ngIf="this.matchmakingInProgress">
        <h3>Finding an opponent...</h3>

        <div class="spinner-border text-success" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <div *ngIf="this.gameReady">
        <h3><button class="btn btn-primary" (click)="winGame()">Win</button></h3>
      </div>

      <div *ngIf="this.gameOver && !this.matchmakingInProgress">
          <h2 *ngIf="this.winner">You clicked first! You won!</h2>
          <h2 *ngIf="!this.winner">Your opponent clicked first! You lost!</h2>
          <img src={{this.image}}/>
      </div>
    </div>
  </div>
</div>
