<div class="inventory">
  <h3>Your Heroes</h3>
  <div
    id="inventory-list"
    cdkDropList
    #inventoryList="cdkDropList"
    cdkDropListOrientation="horizontal"
    [cdkDropListConnectedTo]="deckList"
    class="hero-list-inventory"
    (cdkDropListDropped)="drop($event)"
  >
    <div
      [class.selected]="hero === selectedHero"
      (click)="onSelect(hero)"
      *ngFor="let hero of heroesInventory"
    >
      <div class="drag-hero" cdkDrag>
        <app-hero-card
          class="hero-card"
          [class.selected]="hero === selectedHero"
          [hero]="hero"
        ></app-hero-card>
      </div>
    </div>
  </div>
</div>
<div class="deck">
  <h3>Your Deck</h3>
  <div
    id="deck-list"
    cdkDropList
    #deckList="cdkDropList"
    [cdkDropListConnectedTo]="inventoryList"
    class="hero-list-deck"
    (cdkDropListDropped)="drop($event)"
  >
    <div
      [class.selected]="hero === selectedHero"
      (click)="onSelect(hero)"
      *ngFor="let hero of heroesDeck"
    >
      <div class="drag-hero" cdkDrag>
        &nbsp;
        <app-hero-card
          class="hero-card"
          [class.selected]="hero === selectedHero"
          [hero]="hero"
        ></app-hero-card>
      </div>
    </div>
  </div>
</div>
