.heroes {
  margin: 0 0 2em 0;
  list-style: none;
  padding: 0;
  display: inline;
}
.heroes li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #eee;
  margin: 0.5em;
  padding: 0.3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.heroes li:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: 0.1em;
}
.heroes li.selected {
  background-color: black;
  color: white;
}
.heroes li.selected:hover {
  background-color: #505050;
  color: white;
}
.heroes li.selected:active {
  background-color: black;
  color: white;
}


.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: 0.8em;
  border-radius: 4px 0 0 4px;
}

input {
  padding: 0.5rem;
}

.inventory {
  float: left;
  max-width: 60rem;
  overflow-y: hidden;
  overflow-x: auto;
}

.deck {
  position: fixed;
  bottom: 20px;
}

h3 {
  font-family: 'Metal Mania', cursive;
  background: -webkit-linear-gradient(#24d5dc, #5589e8);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-list-inventory {
  width: 60rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.hero-list-deck {
  height: 25rem;
  width: 100vw;
  display: flex;
  flex-direction: row;
  background-color: #0f1f34;
}