<nav *ngIf="this.isSignedIn()" class="navbar navbar-expand-lg navbar-custom">
  <a class="navbar-brand navbar-title" href="#">War of Heroes</a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">


    </ul>
    <ul class="navbar-nav user-menu">

      <div class="row"  *ngIf="this.isSignedIn()"> 
        <fa-icon [icon]="faCoins" size="2x" class="coins icon"></fa-icon>
      
        <div class="text">
          <p class="title">Coins</p>
          <p class="value">{{ this.getUserCoins() }} </p>
        </div>

        <fa-icon [icon]="faGamepad" size="2x" class="gamepad icon"></fa-icon>
        <div class="text">
          <p class="title">Record</p>
          <p class="value">{{ this.getUserWins() }} - {{ this.getUserLosses() }} </p>
        </div>
        
      </div>

      <li class="nav-item dropdown" *ngIf="this.isSignedIn()">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >{{ this.getUserName() }}</a
        >

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
