<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">War of Heroes</a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" *ngIf="this.isSignedIn()">
        <a class="nav-link" routerLink="/dashboard" routerLinkActive="active"
          >Dashboard</a
        >
      </li>

      <li class="nav-item active" *ngIf="this.isSignedIn()">
        <a class="nav-link" routerLink="/battle" routerLinkActive="active"
          >Play</a
        >
      </li>

    </ul>
    <ul class="navbar-nav user-menu">

      <div class="row"  *ngIf="this.isSignedIn()"> 
        <fa-icon [icon]="faCoins" size="2x" class="coins icon"></fa-icon>
      
        <div class="text">
          <p class="title">Coins</p>
          <p class="value">{{ this.getUserCoins() }} </p>
        </div>

        <fa-icon [icon]="faGamepad" size="2x" class="gamepad icon"></fa-icon>
        <div class="text">
          <p class="title">Record</p>
          <p class="value">{{ this.getUserWins() }} - {{ this.getUserLosses() }} </p>
        </div>
        
      </div>

      <li class="nav-item dropdown" *ngIf="this.isSignedIn()">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >{{ this.getUserName() }}</a
        >

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item">Account</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="d-flex flex-column align-items-center" *ngIf="!this.isSignedIn()">
  <div>
  <h1 class="landing">War Of Heroes</h1>
  </div>
  <div>
  <app-login></app-login>
  </div>
</div>

<router-outlet></router-outlet>
